<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SZQRScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14014A391C9A53A000E4E322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14014A521C9A53A100E4E322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14014A5D1C9A53A100E4E322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
